<h1>Calculator-2</h1>
<hr>
<input type="number" (change)="model.v1 = $event.target.valueAsNumber" [value]="model.v1">
<select #selectOperator>
	<option value="add">Add</option>
	<option value="subtract">Subtract</option>
	<option value="multiply">Multiply</option>
	<option value="divide">Divide</option>
</select>
<input type="number" (change)="model.v2 = $event.target.valueAsNumber" [value]="model.v2">
<input type="button" value="Calculate" (click)="model[selectOperator.value]()">
<app-calculator-result [data]="model.result"></app-calculator-result>